[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.11"
pymysql = "*"
uwsgi = "*"
django-environ = "*"

[dev-packages]
ipython = "*"
django-extensions = "*"
werkzeug = "*"

[requires]
python_version = "3.7"

[scripts]
start = "uwsgi --ini /code/uwsgi.ini"
dev = "python manage.py runserver_plus 0.0.0.0:8080"
